@import 'main';
@import 'navbar';
@import 'sidebar';
@import 'section';
@import 'swatch';
@import 'card';
@import 'popup';
@import 'code';


// Site-specific styles
// ==========================================================================

.app {
  margin-top: 60px;
}

.page {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 120px;
}

.has-superscript {
  position: relative;
}

.superscript {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20px, -20px);
  font-size: 18px;
  font-weight: $fontweight-bold;
}
