.sidebar {
  position: fixed;
  width: 15%;
  min-width: 230px;
  max-width: 250px;
  padding: 10px;
  background: map-get($bg-colors, "light");
  height: calc(100vh - 60px);
  &__items {
    margin-left: 10px;
    list-style: none;
  }
  &__item {
    margin: 5px 0;
  }
  &__link {
    text-decoration: none;
    color: map-get($text-colors, "medium");
    font-size: 12px;
    font-weight: 300;
    display: block;
    padding: 10px;
    border-radius: 3px;
    &:hover,.active{
      background: map-get($text-colors, "light");
      color: map-get($text-colors, "dark");
    }
  }
}
