.swatch {
  &__color {
    height: 190px;
    border-radius: $border-radius $border-radius 0 0;
  }
  &__body {
    padding: 25px 30px;
    background: map-get($static-colors, "white");
    border-radius: 0 0 $border-radius $border-radius;
    box-shadow: $shadow-swatch;
  }
}
