// Button styles
// ==========================================================================

.btn {
  border: none;
  border-radius: $border-radius-btn;
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
  color: map-get($static-colors, "white");
  font-weight: $fontweight-bold;
  cursor: pointer;
  transition: $transition-speed;
  &:focus,
  &:hover {
    outline: none;
    box-shadow: $shadow-btn;
  }
  &--default{
    color: map-get($text-colors, "medium");
  }
  &--primary {
    @include main-gradient(to right);
    background-repeat: no-repeat;
  }
  &--secondary {
    background: map-get($mopro-colors, "primary");
  }
  &--profile {
    color: map-get($static-colors, "grey");
    text-transform: capitalize;
  }
  &--outline {
    background: none;
    color: map-get($mopro-colors, "primary");
    border: 1px solid map-get($mopro-colors, "primary");
    padding-top: 14px;
    padding-bottom: 14px;
    &.btn-sm {
      padding-top: 11px;
      padding-bottom: 11px;
    }
    &.btn-lg {
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
  &--transparent{
    background: rgba(map-get( $static-colors, "white"), 0.1);
  }
  &--disabled {
    background: map-get($text-colors, "light");
    cursor: auto;
    pointer-events: none;
  }
  &-sm {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &-lg {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  &-block {
    display: block;
    width: 100%;
    & + .btn-block {
      margin-top: 10px;
    }
  }
}
