// Card styles
// ==========================================================================

.card {
  border-radius: $border-radius;
  box-shadow: $shadow-card;
  &__header,
  &__body {
    padding: 25px 30px;
  }
}
