// Color classes
// ==========================================================================

.color-primary {
  color: map-get($mopro-colors, "primary");
}
.color-secondary {
  color: map-get($mopro-colors, "secondary");
}
.gradient-text {
  @include main-gradient;
  @include transparent-text;
}
.gradient-text-secondary {
  @include secondary-gradient;
  @include transparent-text;
}
.color-dark {
  color: map-get($text-colors, "primary");
}
.color-medium {
  color: map-get($text-colors, "secondary");
}
.color-light {
  color: map-get($text-colors, "tertiary");
}
.color-extra-light {
  color: map-get($text-colors, "light");
}
.color-success {
  color: map-get($static-colors, "success");
}
.color-error {
  color: map-get($static-colors, "error");
}
.bg-grad-primary {
  @include main-gradient;
}
.bg-grad-secondary {
  @include secondary-gradient;
}
.bg-primary {
  background-color: map-get($mopro-colors, "primary");
}
.bg-secondary {
  background-color: map-get($mopro-colors, "secondary");
}
.bg-success {
  background-color: map-get($static-colors, "success");
}
.bg-error {
  background-color: map-get($static-colors, "error");
}
.bg-dark {
  background-color: map-get($text-colors, "primary");
}
.bg-medium {
  background-color: map-get($text-colors, "secondary");
}
.bg-light {
  background-color: map-get($text-colors, "tertiary");
}
.bg-extra-light {
  background-color: map-get($text-colors, "light");
}
