// Popup styles
// ==========================================================================

.popup {
  border-radius: $border-radius;
  box-shadow: $shadow-popup;
  &__header,
  &__body {
    padding: 25px 30px;
  }
}
