// Margin
// ==========================================================================

@for $i from 1 through 30 {
  .m-#{$i * 5} {
    margin: #{$i * 5}px;
  }
  .mt-#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
}

// Padding
// ==========================================================================

@for $i from 1 through 30 {
  .p-#{$i * 5} {
    margin: #{$i * 5}px;
  }
  .pt-#{$i * 5} {
    margin-top: #{$i * 5}px;
  }
}
