
table, th, td {
  border: none;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  -webkit-box-shadow: 0 16px 24px 2px rgba(0,0,0,0.1), 0 5px 30px 4px rgba(0,0,0,0.04), 0 8px 10px -5px rgba(0,0,0,0.1);
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.1), 0 5px 30px 4px rgba(0,0,0,0.04), 0 8px 10px -5px rgba(0,0,0,0.1);
  thead{
    background-color: #f2f5f9;
  }
  tbody{
    tr{
      color:#626262;
      a{
        color: map-get($mopro-colors, 'primary' );
      }
    }
  }

  // stripped style
  &.striped {
    tr {
      border-bottom: none;
    }
    &> tbody {
      &> tr:nth-child(odd) {
        background-color: rgba(242, 242, 242, 0.5);
      }
      &> tr > td {
        border-radius: 0;
      }
    }
  }

  
  // higlighted style
  &.highlight {
    &> tbody > tr {
      -webkit-transition: background-color .25s ease;
      transition: background-color .25s ease;
      &:hover {
        background-color: rgba(242, 242, 242, 0.5);
      }
    }
  }

  // center align style
  &.centered {
    thead tr th, tbody tr td {
      text-align: center;
    }
  }

  tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  }
  
  td, th {
    padding: 15px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
  }


}



@media only screen and (max-width: 992px) {
  table{
    &.responsive-table {
      width: 100%;
      border-collapse: collapse;
      border-spacing: 0;
      display: block;
      position: relative;
      th,td {
        margin: 0;
        vertical-align: top;
      }
      th {
        text-align: left;
      }
      thead {
        display: block;
        float: left;
        tr {
          display: block;
          padding: 0 10px 0 0;
        }
      }

      tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap;
        tr {
          display: inline-block;
          vertical-align: top;
        }
      }

      th {
        display: block;
        text-align: right;
      }
      td {
        display: block;
        min-height: 1.25em;
        text-align: left;
      }
      tr {
        border-bottom: none;
        padding: 0 10px;
      }
      thead {
        border: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.12);
      }


    }
  }
}