
.card.tabs{
    min-height: 300px;
}

.tabs{

    // Inner "Tabs" style start
    &__nav-in{
        .tabs{
            &__tab-list{
                list-style: none;
                display: flex;
            }
            &__tab{
                color: #B7BCC3;
                margin: 15px;
                padding-bottom: 5px;
                cursor: pointer;
                outline: none;
                border-bottom:2px solid transparent;
                &:first-child{
                    margin-left: 0;
                }
                &--selected{
                    color: map-get($mopro-colors, "primary");
                    border-color: map-get($mopro-colors, "primary");
                }
            }
        }
    }
    
    // Container "Tabs" style start
    &__nav-out{
        .tabs{
            &__tab-list{
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            &__tab{
                color: #B7BCC3;
                margin: 15px 30px;
                padding-bottom: 5px;
                cursor: pointer;
                outline: none;
                &:first-child{
                    margin-left: 0;
                }
                &--selected{
                    position: relative;
                    color: map-get($mopro-colors, "primary");
                    border-color: map-get($mopro-colors, "primary");
                    &:before,&:after{
                        position: absolute;
                        font-family: 'Mopro-Icons';
                        color: #B7BCC3;
                        font-size: 24px;
                        top: -4px;
                    }
                    &:before{
                        content: "\E907";
                        left: -30px;
                    }
                    &:after{
                        content: "\E908";
                        right: -30px;
                    }
                }
            }
            &__tab-panel{
                margin-top: 0;
            }
        }
    }
}


// Table with nav
.table__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    p{
        line-height: 35px;
        height: 35px;
        margin: 0 10px;
        font-size: 14px;
        color: #757575;
        font-weight: 300;
    }
    &__total-page{
        margin: 0 10px;
        li{
            width: 35px;
            height: 35px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #e2e2e2;
            cursor: pointer;
        }
    }
    &__select-items{
        margin: 0 10px;
        select{
            width: 35px;
            height: 35px;
            line-height: 35px;
            outline: none;
            border: 1px solid #e2e2e2;
        }
        &>ul>li:first-child{
            line-height: 35px;
            margin: 0;
            font-size: 14px;
            color: #757575;
            font-weight: 300
        }
    }
    &__prev-next{
        margin: 0 10px;
        li{
            line-height: 35px;
            margin: 0 2px;

            button{
                cursor: pointer;
                border:none;
                background: none;
                outline: none;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                @include prefix (transition, all .3s ease-in-out, webkit moz ms);
                &:hover{
                    background: #F1F1F1;
                }
                &[disabled]{
                    color: #bbbbbb;
                    &:hover{
                        background: inherit;
                    }
                }
                i{
                    font-size: 16px;
                    font-weight: 800;
                }
            }
        }
    }

}



// Dropdown working
.dd-wrapper{
    position: relative;
    display: inline-flex;
    width: 52px;
    &__header{
        &-title{
            display: inline-flex;
            padding: 0 10px;
            height: 35px;
            line-height: 35px;
            border-radius: 3px;
            background: #FFF;
            cursor: pointer;
            font-size: 14px;
            color: #888888;
            @include prefix (transition, all .3s ease-in-out, webkit moz ms);
            &:hover{
                box-shadow: $shadow-z-3;
            }
            i{
                height: 35px;
                line-height: 40px;
                font-size: 14px;
                padding-left: 8px;
                font-weight: 600;
                @include prefix (transition, all .3s ease-in-out, webkit moz ms);
            }
        }
    }
    &__list{
        list-style: none;
        padding: 0;
        height: auto;
        display: inline-block;
        border: 1px solid #d6d6d6;
        border-radius: 0 0 3px 3px;
        position: absolute;
        background: #FFF;
        z-index: 2;
        width: 100%;
        top: 30px;
        opacity: 0;
        visibility: hidden;
        @include prefix (transition, all .3s ease-in-out, webkit moz ms);
        &-item{
            width: 100%;
            padding: 0 15px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            @include prefix (transition, all .3s ease-in-out, webkit moz ms);
            &:hover,&.selected{
                background: map-get($mopro-colors, "primary");
                color:#FFF;
            }
            
        }
    }

    // dropdown visible animation
    &.open{
        .dd-wrapper__header{
            &-title{
                box-shadow: $shadow-z-3;
                i{
                    transform: rotate(180deg);
                    padding-right: 10px;
                    padding-left: 0;
                    line-height: 40px;
                }
            }
        }
        .dd-wrapper{
            &__list{
                visibility: visible;
                top: 0;
                opacity: 1;
                box-shadow: $shadow-z-3;
            }
        }
    }
}

