
.card.tabs{
    min-height: 300px;
}

.tabs{

    // Inner "Tabs" style start
    &__nav-in{
        .tabs{
            &__tab-list{
                list-style: none;
                display: flex;
            }
            &__tab{
                color: #B7BCC3;
                margin: 15px;
                padding-bottom: 5px;
                cursor: pointer;
                outline: none;
                border-bottom:2px solid transparent;
                &:first-child{
                    margin-left: 0;
                }
                &--selected{
                    color: map-get($mopro-colors, "primary");
                    border-color: map-get($mopro-colors, "primary");
                }
            }
        }
    }
    
    // Container "Tabs" style start
    &__nav-out{
        .tabs{
            &__tab-list{
                list-style: none;
                display: flex;
                justify-content: flex-end;
            }
            &__tab{
                color: #B7BCC3;
                margin: 15px 30px;
                padding-bottom: 5px;
                cursor: pointer;
                outline: none;
                &:first-child{
                    margin-left: 0;
                }
                &--selected{
                    position: relative;
                    color: map-get($mopro-colors, "primary");
                    border-color: map-get($mopro-colors, "primary");
                    &:before,&:after{
                        position: absolute;
                        font-family: 'Mopro-Icons';
                        color: #B7BCC3;
                        font-size: 24px;
                        top: -4px;
                    }
                    &:before{
                        content: "\E907";
                        left: -30px;
                    }
                    &:after{
                        content: "\E908";
                        right: -30px;
                    }
                }
            }
            &__tab-panel{
                margin-top: 0;
            }
        }
    }
}


// Table with nav
.table__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    ul{
        list-style: none;
        display: flex;
        flex-wrap: wrap;
    }
    p{
        line-height: 35px;
        height: 35px;
        margin: 10px;
    }
    &__total-page{
        margin: 10px;
        li{
            width: 35px;
            height: 35px;
            line-height: 30px;
            text-align: center;
            border: 1px solid #e2e2e2;
            cursor: pointer;
        }
    }
    &__select-items{
        margin: 10px;
        select{
            width: 35px;
            height: 35px;
            line-height: 35px;
            border: 1px solid #e2e2e2;
        }
        li:first-child{
            line-height: 35px;
            margin: 0 10px;
        }
    }
    &__prev-next{
        margin: 10px;
        li{
            line-height: 35px;
            margin: 0 10px;

            button{
                cursor: pointer;
                &[disabled]{
                    color: #bbbbbb;
                    cursor: not-allowed;
                }
            }
        }
    }

}

