// Text Alignment
// ==========================================================================

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

// Flex Alignment
// ==========================================================================

.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.v-align-top {
  align-items: flex-start;
}
.v-align-center {
  align-items: center;
}
.v-align-bottom {
  align-items: flex-end;
}
