// Global colors
// ==========================================================================

$static-colors: (
  "white": #FFF,
  "grey": #A7A8A8,
  "light-grey": #DDD,
  "black": #0A0A0A,
  "success": #64C38E,
  "error": #F94D46
);

// Brand colors
// ==========================================================================

$mopro-colors: (
  "primary": #C253DD,
  "secondary": #3023AE,
  "accent-primary": #FF6A88,
  "accent-secondary": #FF925A
);

// Text colors
// ==========================================================================

$text-colors: (
  "dark": #2B2829,
  "medium": #A7A8A8,
  "light": #DDD
);

// Background colors
// ==========================================================================

$bg-colors: (
  "dark": #2B2829,
  "medium": #A7A8A8,
  "light": #F1F2F6
);
