// Global colors
// ==========================================================================

$color-primary: #C253DD;
$color-secondary: #3023AE;

// Text colors
// ==========================================================================

$text-dark: #2B2829;
$text-medium: #A7A8A8;
$text-light: #DDD;
