// Global colors
// ==========================================================================

$static-colors: (
  "white": #FFF,
  "black": #0A0A0A
);

// Brand colors
// ==========================================================================

$mopro-colors: (
  "primary": #C253DD,
  "secondary": #3023AE
);

// Text colors
// ==========================================================================

$text-colors: (
  "dark": #2B2829,
  "medium": #A7A8A8,
  "light": #DDD
);

// Background colors
// ==========================================================================

$bg-colors: (
  "dark": #2B2829,
  "medium": #A7A8A8,
  "light": #F1F2F6
);
