// Icon variables
// ==========================================================================

$icon-Discovery: "\e9ae";
$icon-Syndicate: "\e9af";
$icon-Microsite: "\e9ad";
$icon-SneakPeek: "\e9b3";
$icon-HalfStar: "\e9aa";
$icon-Stop: "\e9ab";
$icon-Pause: "\e9ac";
$icon-LinkOut: "\e9a9";
$icon-StarOutline: "\e9a8";
$icon-Web-KO: "\e9a7";
$icon-www: "\e9a4";
$icon-Browser: "\e9a5";
$icon-SMS: "\e9a6";
$icon-Timeline: "\e9a3";
$icon-Icons: "\e9a2";
$icon-Preview: "\e9a1";
$icon-Video: "\e999";
$icon-Whitepages: "\e99a";
$icon-YellowPages: "\e99b";
$icon-Bing: "\e99c";
$icon-Citysearch: "\e99d";
$icon-Email: "\e99e";
$icon-Mapquest: "\e99f";
$icon-Superpages: "\e9a0";
$icon-Friend: "\e998";
$icon-AddNew: "\e900";
$icon-Alarm: "\e901";
$icon-Analyze: "\e902";
$icon-Anchor: "\e903";
$icon-Appointment: "\e904";
$icon-Arrange: "\e905";
$icon-ArrowDown: "\e906";
$icon-ArrowLeft: "\e907";
$icon-ArrowRight: "\e908";
$icon-ArrowUp: "\e909";
$icon-Attach: "\e90a";
$icon-AudioFile: "\e90b";
$icon-AudioUpload: "\e90c";
$icon-Award: "\e90d";
$icon-Blog: "\e90e";
$icon-Blueprint: "\e90f";
$icon-BrokenHeart: "\e910";
$icon-BrokenLink: "\e911";
$icon-Builder: "\e912";
$icon-Calendar: "\e913";
$icon-Camera: "\e914";
$icon-Cart: "\e915";
$icon-Caution: "\e916";
$icon-Chat: "\e917";
$icon-Check: "\e918";
$icon-CheckCircle: "\e919";
$icon-Checked: "\e91a";
$icon-CheckError: "\e91b";
$icon-Checklist: "\e91c";
$icon-Click: "\e91d";
$icon-Clock: "\e91e";
$icon-Close: "\e91f";
$icon-Comment: "\e920";
$icon-Copy: "\e921";
$icon-Crop: "\e922";
$icon-Customers: "\e923";
$icon-Desktop: "\e924";
$icon-Document: "\e925";
$icon-Down: "\e926";
$icon-Download: "\e927";
$icon-Edit: "\e928";
$icon-EditPage: "\e929";
$icon-Education: "\e92a";
$icon-ExcelFile: "\e92b";
$icon-Exclamation: "\e92c";
$icon-Expand: "\e92d";
$icon-Export: "\e92e";
$icon-Facebook: "\e92f";
$icon-Facebook-KO: "\e930";
$icon-FileUpload: "\e931";
$icon-Fill: "\e932";
$icon-Flickr: "\e933";
$icon-Flickr-KO: "\e934";
$icon-Foursquare: "\e935";
$icon-Foursquare-KO: "\e936";
$icon-Funnel: "\e937";
$icon-Google: "\e938";
$icon-GoogleAlerts: "\e939";
$icon-GoogleAlerts-KO: "\e93a";
$icon-GooglePlus: "\e93b";
$icon-GooglePlus-KO: "\e93c";
$icon-Graph: "\e93d";
$icon-Happy: "\e93e";
$icon-Heart: "\e93f";
$icon-Help: "\e940";
$icon-Hide: "\e941";
$icon-Idea: "\e942";
$icon-IDX: "\e943";
$icon-ImageUpload: "\e944";
$icon-Import: "\e945";
$icon-IndexFile: "\e946";
$icon-Info: "\e947";
$icon-Instagram: "\e948";
$icon-Instagram-KO: "\e949";
$icon-Library: "\e94a";
$icon-Like: "\e94b";
$icon-Link: "\e94c";
$icon-LinkedIn: "\e94d";
$icon-LinkedIn-KO: "\e94e";
$icon-List: "\e94f";
$icon-Location: "\e950";
$icon-Locked: "\e951";
$icon-Logout: "\e952";
$icon-Mail: "\e953";
$icon-MaritalStatus: "\e954";
$icon-Microphone: "\e955";
$icon-Microphone2: "\e956";
$icon-Minimize: "\e957";
$icon-Mobile: "\e958";
$icon-Money: "\e959";
$icon-Money-KO: "\e95a";
$icon-Monitor: "\e95b";
$icon-Move: "\e95c";
$icon-MoveTool: "\e95d";
$icon-Neutral: "\e95e";
$icon-Paragraph: "\e95f";
$icon-PDFFile: "\e960";
$icon-Phone: "\e961";
$icon-Picture: "\e962";
$icon-Pin: "\e963";
$icon-Pinterest: "\e964";
$icon-Pinterest-KO: "\e965";
$icon-Plane: "\e966";
$icon-Play: "\e967";
$icon-Plus: "\e968";
$icon-PlusOne: "\e969";
$icon-Print: "\e96a";
$icon-Profile: "\e96b";
$icon-Repeat: "\e96c";
$icon-Responsive: "\e96d";
$icon-RSS: "\e96e";
$icon-RSS-KO: "\e96f";
$icon-Sad: "\e970";
$icon-Schedule: "\e971";
$icon-Search: "\e972";
$icon-Sections: "\e973";
$icon-Send: "\e974";
$icon-Settings: "\e975";
$icon-Share: "\e976";
$icon-Shuffle: "\e977";
$icon-Sitemap: "\e978";
$icon-Speed: "\e979";
$icon-Star: "\e97a";
$icon-Store: "\e97b";
$icon-Support: "\e97c";
$icon-SVG-path1: "\e97d";
$icon-SVG-path2: "\e97e";
$icon-Swap: "\e97f";
$icon-Tablet: "\e980";
$icon-TextFile: "\e981";
$icon-ThumbsUp: "\e982";
$icon-ThumbsUpFilled: "\e983";
$icon-Trash: "\e984";
$icon-Tumblr: "\e985";
$icon-Tumblr-KO: "\e986";
$icon-Twitter: "\e987";
$icon-Twitter-KO: "\e988";
$icon-Undo: "\e989";
$icon-Unlink: "\e98a";
$icon-Unlocked: "\e98b";
$icon-Up: "\e98c";
$icon-Users: "\e98d";
$icon-VideoFile: "\e98e";
$icon-VideoUpload: "\e98f";
$icon-View: "\e990";
$icon-Views: "\e991";
$icon-Web: "\e992";
$icon-WordFile: "\e993";
$icon-Yelp: "\e994";
$icon-Yelp-KO: "\e995";
$icon-Youtube: "\e996";
$icon-Youtube-KO: "\e997";
$icon-AppIcons: "\e9b0";
$icon-Transform: "\e9b1";
$icon-Text: "\e9b2";
$icon-Spacer: "\e9b4";
$icon-Seperator: "\e9b5";
$icon-CTA: "\e9b6";
$icon-Weibo-KO: "\e9b7";
$icon-Weibo: "\e9b8";
$icon-TripAdvisor-KO: "\e9b9";
$icon-TripAdvisor: "\e9ba";
$icon-Myspace-KO: "\e9bb";
$icon-Myspace: "\e9bc";
$icon-Houzz-KO: "\e9bd";
$icon-Houzz: "\e9be";
$icon-GooglePlaces-KO: "\e9bf";
$icon-GooglePlaces: "\e9c0";
$icon-Frame: "\e9c1";
$icon-Controls: "\e9c2";
$icon-Bold: "\e9c3";
$icon-Italic: "\e9c4";
$icon-Underline: "\e9c5";
$icon-NumberList: "\e9c6";
$icon-BulletList: "\e9c7";
$icon-Centered: "\e9c8";
$icon-Justified: "\e9c9";
$icon-LeftAlign: "\e9ca";
$icon-RightAlign: "\e9cb";
$icon-None: "\e9cc";
$icon-CautionFilled: "\e9cd";
$icon-Completed: "\e9ce";
$icon-CopyPage: "\e9cf";
$icon-Testimonial: "\e9d0";
$icon-AlignLeft: "\e9d1";
$icon-AlignCenter: "\e9d2";
$icon-AlignRight: "\e9d3";
$icon-UnmappedImage: "\e9d4";
$icon-Notes: "\e9d5";
$icon-Dashboard: "\e9d6";
$icon-Square: "\e9d7";
$icon-Rectangle: "\e9d8";
$icon-Linkout: "\e9d9";
$icon-Circle: "\e9db";
$icon-Mapping: "\e9da";
$icon-Sort: "\e9dc";
$icon-Configurations: "\e9dd";
$icon-VAlignTop: "\e9de";
$icon-VAlignCenter: "\e9df";
$icon-VAlignBottom: "\e9e0";
$icon-Forms: "\e9e1";
$icon-SocialRadar: "\e9e3";
$icon-Analytics: "\e9e2";
$icon-Style: "\e9e4";
$icon-Publish: "\e9e5";
$icon-ManagePages: "\e9e6";
$icon-ManageBlocks: "\e9e7";
$icon-Home: "\e9e8";
$icon-SettingsOverscan_material: "\e9e9";
$icon-Settings_material: "\e9ea";
$icon-InvertColors_material: "\e9eb";
$icon-Image_material: "\e9ec";
$icon-Delete_material: "\e9ed";
$icon-GoogleReview: "\e9ee";
$icon-NoData: "\e9ef";
$icon-WebsiteRevision: "\e9f0";
$icon-TechIssues: "\e9f1";
$icon-Laptop: "\e9f2";
$icon-Knowledge: "\e9f3";
$icon-CashMoney: "\e9f4";
$icon-AccWallet: "\e9f5";
$icon-Accessibility: "\e9f6";
$icon-TestimonialCollector: "\e9f7";
$icon-SocialCalendar: "\e9f8";
$icon-ShoppingCart_Material: "\e9f9";
$icon-SEOScore: "\e9fa";
$icon-RepManager: "\e9fb";
$icon-DesignChanges: "\e9fc";
$icon-CompetitionTracker: "\e9fd";
$icon-Search_Material: "\e9fe";
$icon-AlignCenter_Material: "\e9ff";
