// Font weights
// ==========================================================================

$fontweight-hairline: 100;
$fontweight-light: 200;
$fontweight-regular: 300;
$fontweight-bold: 400;
$fontweight-black: 500;

// Headlines
// ==========================================================================

$h1-fontsize: 42px;
$h1-lineheight: 44px;
$h1-fontweight: $fontweight-black;

$h2-fontsize: 32px;
$h2-lineheight: 38px;
$h2-fontweight: $fontweight-bold;

$h3-fontsize: 28px;
$h3-lineheight: 34px;
$h3-fontweight: $fontweight-bold;

$h4-fontsize: 24px;
$h4-lineheight: 30px;
$h4-fontweight: $fontweight-bold;

$h5-fontsize: 18px;
$h5-lineheight: 22px;
$h5-fontweight: $fontweight-bold;

$h6-fontsize: 16px;
$h6-lineheight: 22px;
$h6-fontweight: $fontweight-regular;

// Paragraphs
// ==========================================================================

$p-fontsize: 21px;
$p-lineheight: 36px;
$p-fontweight: $fontweight-light;

// Small paragraphs
// ==========================================================================

$ps-fontsize: 16px;
$ps-lineheight: 26px;
$ps-fontweight: $fontweight-light;

// Sub-text
// ==========================================================================
$sub-fontsize: 13px;
$sub-lineheight: 16px;
$sub-fontweight: $fontweight-black;
$sub-letterspacing: 1.63px;

// Meta text
// ==========================================================================
$meta-fontsize: 14px;
$meta-lineheight: 22px;
$meta-fontweight: $fontweight-bold;
$meta-letterspacing: 0.4px;

// Labels
// ==========================================================================

$label-fontsize: 16px;
$label-lineheight: 19px;
$label-fontweight: $fontweight-bold;

// Captions
// ==========================================================================

$caption-fontsize: 12px;
$caption-lineheight: 15px;
$caption-fontweight: $fontweight-bold;
$caption-letterspacing: 0.3px;

// Buttons
// ==========================================================================

$btn-fontsize: 13px;
$btn-lineheight: 16px;
$btn-fontweight: $fontweight-black;
$btn-letterspacing: 1.6px;
