// Transitions
// ==========================================================================

$transition-speed: .25s;

// Border Radius
// ==========================================================================

$border-radius: 10px;
$border-radius-btn: 2px;

// Padding
// ==========================================================================

$padding-code: 10px;
