@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Hairline.eot");
  src: url("./_fonts/Lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Hairline.woff") format("woff"), url("./_fonts/Lato/Lato-Hairline.ttf") format("truetype"), url("./_fonts/Lato/Lato-Hairline.svg#Lato") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-HairlineItalic.eot");
  src: url("./_fonts/Lato/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-HairlineItalic.woff") format("woff"), url("./_fonts/Lato/Lato-HairlineItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-HairlineItalic.svg#Lato") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Light.eot");
  src: url("./_fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Light.woff") format("woff"), url("./_fonts/Lato/Lato-Light.ttf") format("truetype"), url("./_fonts/Lato/Lato-Light.svg#Lato") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-LightItalic.eot");
  src: url("./_fonts/Lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-LightItalic.woff") format("woff"), url("./_fonts/Lato/Lato-LightItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-LightItalic.svg#Lato") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Regular.eot");
  src: url("./_fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Regular.woff") format("woff"), url("./_fonts/Lato/Lato-Regular.ttf") format("truetype"), url("./_fonts/Lato/Lato-Regular.svg#Lato") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Italic.eot");
  src: url("./_fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Italic.woff") format("woff"), url("./_fonts/Lato/Lato-Italic.ttf") format("truetype"), url("./_fonts/Lato/Lato-Italic.svg#Lato") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Bold.eot");
  src: url("./_fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Bold.woff") format("woff"), url("./_fonts/Lato/Lato-Bold.ttf") format("truetype"), url("./_fonts/Lato/Lato-Bold.svg#Lato") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-BoldItalic.eot");
  src: url("./_fonts/Lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("./_fonts/Lato/Lato-BoldItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-BoldItalic.svg#Lato") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Black.eot");
  src: url("./_fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Black.woff") format("woff"), url("./_fonts/Lato/Lato-Black.ttf") format("truetype"), url("./_fonts/Lato/Lato-Black.svg#Lato") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-BlackItalic.eot");
  src: url("./_fonts/Lato/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-BlackItalic.woff") format("woff"), url("./_fonts/Lato/Lato-BlackItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-BlackItalic.svg#Lato") format("svg");
  font-weight: 500;
  font-style: italic;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.color-primary {
  color: #C253DD;
}

.color-secondary {
  color: #3023AE;
}

.gradient-text {
  background: #c253dd;
  background: linear-gradient(to top right, #c253dd, #3023ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-dark {
  color: #2B2829;
}

.color-medium {
  color: #A7A8A8;
}

.color-light {
  color: #DDD;
}

body {
  font-family: "Lato", sans-serif;
  color: #2B2829;
}

h1 {
  font-family: inherit;
  color: inherit;
}

h2 {
  font-family: inherit;
  color: inherit;
}

h3 {
  font-family: inherit;
  color: inherit;
}

h4 {
  font-family: inherit;
  color: inherit;
}

h5 {
  font-family: inherit;
  color: inherit;
}

h6 {
  font-family: inherit;
  color: inherit;
}

p {
  font-family: inherit;
  color: inherit;
}

a {
  font-family: inherit;
  color: inherit;
}

blockquote {
  font-family: inherit;
  color: inherit;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: normal;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: normal;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: normal;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: normal;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: normal;
}

p {
  font-size: 21px;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: normal;
}

label, .label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: normal;
}

figcaption, .caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.3px;
}

.text-small {
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: normal;
}

.text-sub {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.63px;
  color: #A7A8A8;
  text-transform: uppercase;
}

.text-meta {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4px;
}

button, .text-btn {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: normal;
}

.fw-hairline {
  font-weight: 100;
}

.fw-light {
  font-weight: 200;
}

.fw-medium {
  font-weight: 300;
}

.fw-bold {
  font-weight: 400;
}

.fw-heavy {
  font-weight: 500;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.m-5 {
  margin: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.m-15 {
  margin: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.m-25 {
  margin: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.m-30 {
  margin: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.m-35 {
  margin: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.m-40 {
  margin: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.m-45 {
  margin: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.m-50 {
  margin: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.m-55 {
  margin: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.m-60 {
  margin: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.m-65 {
  margin: 65px;
}

.mt-65 {
  margin-top: 65px;
}

.m-70 {
  margin: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.m-75 {
  margin: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.m-80 {
  margin: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.m-85 {
  margin: 85px;
}

.mt-85 {
  margin-top: 85px;
}

.m-90 {
  margin: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.m-95 {
  margin: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.m-100 {
  margin: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.m-105 {
  margin: 105px;
}

.mt-105 {
  margin-top: 105px;
}

.m-110 {
  margin: 110px;
}

.mt-110 {
  margin-top: 110px;
}

.m-115 {
  margin: 115px;
}

.mt-115 {
  margin-top: 115px;
}

.m-120 {
  margin: 120px;
}

.mt-120 {
  margin-top: 120px;
}

.m-125 {
  margin: 125px;
}

.mt-125 {
  margin-top: 125px;
}

.m-130 {
  margin: 130px;
}

.mt-130 {
  margin-top: 130px;
}

.m-135 {
  margin: 135px;
}

.mt-135 {
  margin-top: 135px;
}

.m-140 {
  margin: 140px;
}

.mt-140 {
  margin-top: 140px;
}

.m-145 {
  margin: 145px;
}

.mt-145 {
  margin-top: 145px;
}

.m-150 {
  margin: 150px;
}

.mt-150 {
  margin-top: 150px;
}

.p-5 {
  margin: 5px;
}

.pt-5 {
  margin-top: 5px;
}

.p-10 {
  margin: 10px;
}

.pt-10 {
  margin-top: 10px;
}

.p-15 {
  margin: 15px;
}

.pt-15 {
  margin-top: 15px;
}

.p-20 {
  margin: 20px;
}

.pt-20 {
  margin-top: 20px;
}

.p-25 {
  margin: 25px;
}

.pt-25 {
  margin-top: 25px;
}

.p-30 {
  margin: 30px;
}

.pt-30 {
  margin-top: 30px;
}

.p-35 {
  margin: 35px;
}

.pt-35 {
  margin-top: 35px;
}

.p-40 {
  margin: 40px;
}

.pt-40 {
  margin-top: 40px;
}

.p-45 {
  margin: 45px;
}

.pt-45 {
  margin-top: 45px;
}

.p-50 {
  margin: 50px;
}

.pt-50 {
  margin-top: 50px;
}

.p-55 {
  margin: 55px;
}

.pt-55 {
  margin-top: 55px;
}

.p-60 {
  margin: 60px;
}

.pt-60 {
  margin-top: 60px;
}

.p-65 {
  margin: 65px;
}

.pt-65 {
  margin-top: 65px;
}

.p-70 {
  margin: 70px;
}

.pt-70 {
  margin-top: 70px;
}

.p-75 {
  margin: 75px;
}

.pt-75 {
  margin-top: 75px;
}

.p-80 {
  margin: 80px;
}

.pt-80 {
  margin-top: 80px;
}

.p-85 {
  margin: 85px;
}

.pt-85 {
  margin-top: 85px;
}

.p-90 {
  margin: 90px;
}

.pt-90 {
  margin-top: 90px;
}

.p-95 {
  margin: 95px;
}

.pt-95 {
  margin-top: 95px;
}

.p-100 {
  margin: 100px;
}

.pt-100 {
  margin-top: 100px;
}

.p-105 {
  margin: 105px;
}

.pt-105 {
  margin-top: 105px;
}

.p-110 {
  margin: 110px;
}

.pt-110 {
  margin-top: 110px;
}

.p-115 {
  margin: 115px;
}

.pt-115 {
  margin-top: 115px;
}

.p-120 {
  margin: 120px;
}

.pt-120 {
  margin-top: 120px;
}

.p-125 {
  margin: 125px;
}

.pt-125 {
  margin-top: 125px;
}

.p-130 {
  margin: 130px;
}

.pt-130 {
  margin-top: 130px;
}

.p-135 {
  margin: 135px;
}

.pt-135 {
  margin-top: 135px;
}

.p-140 {
  margin: 140px;
}

.pt-140 {
  margin-top: 140px;
}

.p-145 {
  margin: 145px;
}

.pt-145 {
  margin-top: 145px;
}

.p-150 {
  margin: 150px;
}

.pt-150 {
  margin-top: 150px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.card__header, .card__body {
  padding: 25px 30px;
}

.popup {
  border-radius: 10px;
  box-shadow: 0 35px 50px 0 rgba(255, 119, 121, 0.15), 0 35px 50px 0 rgba(0, 0, 0, 0.1);
}

.popup__header, .popup__body {
  padding: 25px 30px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.main {
  display: flex;
  background: #FFF;
}

.navbar {
  background: #3929ce;
  background: linear-gradient(to bottom right, #3929ce, #271d8e);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar__nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar__item {
  text-align: left;
}

.navbar__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 20px;
  border-bottom: 2px solid transparent;
  transition: 0.25s;
}

.navbar__link:hover {
  border-color: #FFF;
}

.sidebar {
  position: fixed;
  width: 15%;
  min-width: 125px;
  max-width: 250px;
  padding: 10px;
  background: #F1F2F6;
  height: calc(100vh - 60px);
}

.swatch__color {
  height: 190px;
  border-radius: 10px 10px 0 0;
}

.swatch__body {
  padding: 25px 30px;
  background: #FFF;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 35px 50px 0 rgba(255, 119, 121, 0.15), 0 35px 50px 0 rgba(0, 0, 0, 0.1);
}

.swatch--gradient .swatch__color {
  background: #c253dd;
  background: linear-gradient(to top right, #c253dd, #3023ae);
}

.swatch--primary .swatch__color {
  background: #C253DD;
}

.swatch--secondary .swatch__color {
  background: #3023AE;
}

.swatch--dark .swatch__color {
  background: #2B2829;
}

.swatch--medium .swatch__color {
  background: #A7A8A8;
}

.swatch--light .swatch__color {
  background: #DDD;
}

.card {
  min-height: 360px;
}

.popup {
  min-height: 360px;
}

.code-preview {
  margin-top: 25px;
}

pre {
  border-radius: 10px;
}

.app {
  margin-top: 60px;
}

.page {
  margin-top: 100px;
  margin-bottom: 100px;
}

.has-superscript {
  position: relative;
}

.superscript {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20px, -20px);
  font-size: 18px;
  font-weight: 400;
}
