@charset "UTF-8";
@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Hairline.eot");
  src: url("./_fonts/Lato/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Hairline.woff") format("woff"), url("./_fonts/Lato/Lato-Hairline.ttf") format("truetype"), url("./_fonts/Lato/Lato-Hairline.svg#Lato") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-HairlineItalic.eot");
  src: url("./_fonts/Lato/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-HairlineItalic.woff") format("woff"), url("./_fonts/Lato/Lato-HairlineItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-HairlineItalic.svg#Lato") format("svg");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Light.eot");
  src: url("./_fonts/Lato/Lato-Light.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Light.woff") format("woff"), url("./_fonts/Lato/Lato-Light.ttf") format("truetype"), url("./_fonts/Lato/Lato-Light.svg#Lato") format("svg");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-LightItalic.eot");
  src: url("./_fonts/Lato/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-LightItalic.woff") format("woff"), url("./_fonts/Lato/Lato-LightItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-LightItalic.svg#Lato") format("svg");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Regular.eot");
  src: url("./_fonts/Lato/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Regular.woff") format("woff"), url("./_fonts/Lato/Lato-Regular.ttf") format("truetype"), url("./_fonts/Lato/Lato-Regular.svg#Lato") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Italic.eot");
  src: url("./_fonts/Lato/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Italic.woff") format("woff"), url("./_fonts/Lato/Lato-Italic.ttf") format("truetype"), url("./_fonts/Lato/Lato-Italic.svg#Lato") format("svg");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Bold.eot");
  src: url("./_fonts/Lato/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Bold.woff") format("woff"), url("./_fonts/Lato/Lato-Bold.ttf") format("truetype"), url("./_fonts/Lato/Lato-Bold.svg#Lato") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-BoldItalic.eot");
  src: url("./_fonts/Lato/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-BoldItalic.woff") format("woff"), url("./_fonts/Lato/Lato-BoldItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-BoldItalic.svg#Lato") format("svg");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-Black.eot");
  src: url("./_fonts/Lato/Lato-Black.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-Black.woff") format("woff"), url("./_fonts/Lato/Lato-Black.ttf") format("truetype"), url("./_fonts/Lato/Lato-Black.svg#Lato") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  src: url("./_fonts/Lato/Lato-BlackItalic.eot");
  src: url("./_fonts/Lato/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("./_fonts/Lato/Lato-BlackItalic.woff") format("woff"), url("./_fonts/Lato/Lato-BlackItalic.ttf") format("truetype"), url("./_fonts/Lato/Lato-BlackItalic.svg#Lato") format("svg");
  font-weight: 500;
  font-style: italic;
}

body, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
}

ul {
  padding: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.brand__light, .brand__dark {
  padding: 20px 20px 10px;
}

.action-btn {
  height: 15px;
  width: 15px;
  border: 1px solid #DDD;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  background: #FFF;
  position: relative;
  transition: 0.25s;
}

.action-btn--plus {
  background: blue;
}

.action-btn--minus {
  background: steelblue;
}

.action-btn--check {
  background: teal;
}

.action-btn--close {
  background: green;
}

.btn {
  border: none;
  border-radius: 2px;
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 400;
  cursor: pointer;
  transition: 0.25s;
}

.btn:focus, .btn:hover {
  outline: none;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.btn--default {
  color: #CCC;
}

.btn--primary {
  background: #c253dd;
  background: linear-gradient(to top right, #c253dd, #3023ae);
  background-repeat: no-repeat;
}

.btn--secondary {
  background: #C253DD;
}

.btn--profile {
  color: #A7A8A8;
  text-transform: capitalize;
}

.btn--outline {
  background: none;
  color: #C253DD;
  border: 1px solid #C253DD;
}

.btn--disabled {
  background: #DDD;
  cursor: auto;
  pointer-events: none;
}

.btn-sm {
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-lg {
  padding-top: 25px;
  padding-bottom: 25px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-block + .btn-block {
  margin-top: 10px;
}

.checkbox {
  position: relative;
  display: inline-block;
}

.checkbox input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  z-index: 1;
}

.checkbox input:checked ~ span:before {
  background-color: #C253DD;
}

.checkbox input:checked ~ span:after {
  transform: rotate(45deg) scale(1);
}

.checkbox span,
.checkbox label {
  display: inline-block;
  vertical-align: middle;
}

.checkbox span {
  position: relative;
  height: 16px;
  width: 16px;
  line-height: 16px;
  pointer-events: none;
  transition: 0.25s;
  border-radius: 2px;
}

.checkbox span:before, .checkbox span:after {
  content: '';
  transition: inherit;
}

.checkbox span:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 2px;
}

.checkbox span:after {
  position: relative;
  display: block;
  top: 3px;
  margin: 0 auto;
  width: 4px;
  height: 8px;
  border: solid #FFF;
  border-width: 0 1px 1px 0;
  transform: rotate(0deg) scale(0);
  transition-delay: .1s;
}

.checkbox span + label,
.checkbox label + span {
  margin-left: 10px;
}

.checkbox:hover span {
  transform: scale(1.25);
}

.checkbox:hover span:before {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.color-primary {
  color: #C253DD;
}

.color-secondary {
  color: #3023AE;
}

.gradient-text {
  background: #c253dd;
  background: linear-gradient(to top right, #c253dd, #3023ae);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-text-secondary {
  background: #ff6a88;
  background: linear-gradient(to top right, #ff6a88, #ff925a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-dark {
  color: #2B2829;
}

.color-medium {
  color: #A7A8A8;
}

.color-light {
  color: #DDD;
}

.color-success {
  color: #64C38E;
}

.color-error {
  color: #F94D46;
}

.bg-grad-primary {
  background: #c253dd;
  background: linear-gradient(to top right, #c253dd, #3023ae);
}

.bg-grad-secondary {
  background: #ff6a88;
  background: linear-gradient(to top right, #ff6a88, #ff925a);
}

.bg-primary {
  background-color: #C253DD;
}

.bg-secondary {
  background-color: #3023AE;
}

.bg-success {
  background-color: #64C38E;
}

.bg-error {
  background-color: #F94D46;
}

.bg-dark {
  background-color: #2B2829;
}

.bg-medium {
  background-color: #A7A8A8;
}

.bg-light {
  background-color: #DDD;
}

@font-face {
  font-family: Mopro-Icons;
  src: url("_fonts/Mopro-Icons/Mopro-Icons.eot");
  src: url("_fonts/Mopro-Icons/Mopro-Icons.eot?#iefix") format("embedded-opentype"), url("_fonts/Mopro-Icons/Mopro-Icons.woff") format("woff"), url("_fonts/Mopro-Icons/Mopro-Icons.ttf") format("truetype"), url("_fonts/Mopro-Icons/Mopro-Icons.svg#Mopro-Icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'Mopro-Icons';
  font-size: 21px;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}

.icon-SVG span {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
}

.icon-SVG span:before, .icon-SVG span:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.icon-SVG span:before {
  border-top: 1em solid currentColor;
  border-right: 1em solid transparent;
  opacity: 0.8;
}

.icon-SVG span:after {
  border-bottom: 1em solid currentColor;
  border-left: 1em solid transparent;
}

.icon-Discovery:before {
  content: "";
}

.icon-Syndicate:before {
  content: "";
}

.icon-Microsite:before {
  content: "";
}

.icon-SneakPeek:before {
  content: "";
}

.icon-HalfStar:before {
  content: "";
}

.icon-Stop:before {
  content: "";
}

.icon-Pause:before {
  content: "";
}

.icon-LinkOut:before {
  content: "";
}

.icon-StarOutline:before {
  content: "";
}

.icon-Web-KO:before {
  content: "";
}

.icon-www:before {
  content: "";
}

.icon-Browser:before {
  content: "";
}

.icon-SMS:before {
  content: "";
}

.icon-Timeline:before {
  content: "";
}

.icon-Icons:before {
  content: "";
}

.icon-Preview:before {
  content: "";
}

.icon-Video:before {
  content: "";
}

.icon-Whitepages:before {
  content: "";
}

.icon-YellowPages:before {
  content: "";
}

.icon-Bing:before {
  content: "";
}

.icon-Citysearch:before {
  content: "";
}

.icon-Email:before {
  content: "";
}

.icon-Mapquest:before {
  content: "";
}

.icon-Superpages:before {
  content: "";
}

.icon-Friend:before {
  content: "";
}

.icon-AddNew:before {
  content: "";
}

.icon-Alarm:before {
  content: "";
}

.icon-Analyze:before {
  content: "";
}

.icon-Anchor:before {
  content: "";
}

.icon-Appointment:before {
  content: "";
}

.icon-Arrange:before {
  content: "";
}

.icon-ArrowDown:before {
  content: "";
}

.icon-ArrowLeft:before {
  content: "";
}

.icon-ArrowRight:before {
  content: "";
}

.icon-ArrowUp:before {
  content: "";
}

.icon-Attach:before {
  content: "";
}

.icon-AudioFile:before {
  content: "";
}

.icon-AudioUpload:before {
  content: "";
}

.icon-Award:before {
  content: "";
}

.icon-Blog:before {
  content: "";
}

.icon-Blueprint:before {
  content: "";
}

.icon-BrokenHeart:before {
  content: "";
}

.icon-BrokenLink:before {
  content: "";
}

.icon-Builder:before {
  content: "";
}

.icon-Calendar:before {
  content: "";
}

.icon-Camera:before {
  content: "";
}

.icon-Cart:before {
  content: "";
}

.icon-Caution:before {
  content: "";
}

.icon-Chat:before {
  content: "";
}

.icon-Check:before {
  content: "";
}

.icon-CheckCircle:before {
  content: "";
}

.icon-Checked:before {
  content: "";
}

.icon-CheckError:before {
  content: "";
}

.icon-Checklist:before {
  content: "";
}

.icon-Click:before {
  content: "";
}

.icon-Clock:before {
  content: "";
}

.icon-Close:before {
  content: "";
}

.icon-Comment:before {
  content: "";
}

.icon-Copy:before {
  content: "";
}

.icon-Crop:before {
  content: "";
}

.icon-Customers:before {
  content: "";
}

.icon-Desktop:before {
  content: "";
}

.icon-Document:before {
  content: "";
}

.icon-Down:before {
  content: "";
}

.icon-Download:before {
  content: "";
}

.icon-Edit:before {
  content: "";
}

.icon-EditPage:before {
  content: "";
}

.icon-Education:before {
  content: "";
}

.icon-ExcelFile:before {
  content: "";
}

.icon-Exclamation:before {
  content: "";
}

.icon-Expand:before {
  content: "";
}

.icon-Export:before {
  content: "";
}

.icon-Facebook:before {
  content: "";
}

.icon-Facebook-KO:before {
  content: "";
}

.icon-FileUpload:before {
  content: "";
}

.icon-Fill:before {
  content: "";
}

.icon-Flickr:before {
  content: "";
}

.icon-Flickr-KO:before {
  content: "";
}

.icon-Foursquare:before {
  content: "";
}

.icon-Foursquare-KO:before {
  content: "";
}

.icon-Funnel:before {
  content: "";
}

.icon-Google:before {
  content: "";
}

.icon-GoogleAlerts:before {
  content: "";
}

.icon-GoogleAlerts-KO:before {
  content: "";
}

.icon-GooglePlus:before {
  content: "";
}

.icon-GooglePlus-KO:before {
  content: "";
}

.icon-Graph:before {
  content: "";
}

.icon-Happy:before {
  content: "";
}

.icon-Heart:before {
  content: "";
}

.icon-Help:before {
  content: "";
}

.icon-Hide:before {
  content: "";
}

.icon-Idea:before {
  content: "";
}

.icon-IDX:before {
  content: "";
}

.icon-ImageUpload:before {
  content: "";
}

.icon-Import:before {
  content: "";
}

.icon-IndexFile:before {
  content: "";
}

.icon-Info:before {
  content: "";
}

.icon-Instagram:before {
  content: "";
}

.icon-Instagram-KO:before {
  content: "";
}

.icon-Library:before {
  content: "";
}

.icon-Like:before {
  content: "";
}

.icon-Link:before {
  content: "";
}

.icon-LinkedIn:before {
  content: "";
}

.icon-LinkedIn-KO:before {
  content: "";
}

.icon-List:before {
  content: "";
}

.icon-Location:before {
  content: "";
}

.icon-Locked:before {
  content: "";
}

.icon-Logout:before {
  content: "";
}

.icon-Mail:before {
  content: "";
}

.icon-MaritalStatus:before {
  content: "";
}

.icon-Microphone:before {
  content: "";
}

.icon-Microphone2:before {
  content: "";
}

.icon-Minimize:before {
  content: "";
}

.icon-Mobile:before {
  content: "";
}

.icon-Money:before {
  content: "";
}

.icon-Money-KO:before {
  content: "";
}

.icon-Monitor:before {
  content: "";
}

.icon-Move:before {
  content: "";
}

.icon-MoveTool:before {
  content: "";
}

.icon-Neutral:before {
  content: "";
}

.icon-Paragraph:before {
  content: "";
}

.icon-PDFFile:before {
  content: "";
}

.icon-Phone:before {
  content: "";
}

.icon-Picture:before {
  content: "";
}

.icon-Pin:before {
  content: "";
}

.icon-Pinterest:before {
  content: "";
}

.icon-Pinterest-KO:before {
  content: "";
}

.icon-Plane:before {
  content: "";
}

.icon-Play:before {
  content: "";
}

.icon-Plus:before {
  content: "";
}

.icon-PlusOne:before {
  content: "";
}

.icon-Print:before {
  content: "";
}

.icon-Profile:before {
  content: "";
}

.icon-Repeat:before {
  content: "";
}

.icon-Responsive:before {
  content: "";
}

.icon-RSS:before {
  content: "";
}

.icon-RSS-KO:before {
  content: "";
}

.icon-Sad:before {
  content: "";
}

.icon-Schedule:before {
  content: "";
}

.icon-Search:before {
  content: "";
}

.icon-Sections:before {
  content: "";
}

.icon-Send:before {
  content: "";
}

.icon-Settings:before {
  content: "";
}

.icon-Share:before {
  content: "";
}

.icon-Shuffle:before {
  content: "";
}

.icon-Sitemap:before {
  content: "";
}

.icon-Speed:before {
  content: "";
}

.icon-Star:before {
  content: "";
}

.icon-Store:before {
  content: "";
}

.icon-Support:before {
  content: "";
}

.icon-SVG .path1:before {
  content: "";
  color: black;
}

.icon-SVG .path2:before {
  content: "";
  margin-left: -1em;
  color: black;
  opacity: 0.8;
}

.icon-Swap:before {
  content: "";
}

.icon-Tablet:before {
  content: "";
}

.icon-TextFile:before {
  content: "";
}

.icon-ThumbsUp:before {
  content: "";
}

.icon-ThumbsUpFilled:before {
  content: "";
}

.icon-Trash:before {
  content: "";
}

.icon-Tumblr:before {
  content: "";
}

.icon-Tumblr-KO:before {
  content: "";
}

.icon-Twitter:before {
  content: "";
}

.icon-Twitter-KO:before {
  content: "";
}

.icon-Undo:before {
  content: "";
}

.icon-Unlink:before {
  content: "";
}

.icon-Unlocked:before {
  content: "";
}

.icon-Up:before {
  content: "";
}

.icon-Users:before {
  content: "";
}

.icon-VideoFile:before {
  content: "";
}

.icon-VideoUpload:before {
  content: "";
}

.icon-View:before {
  content: "";
}

.icon-Views:before {
  content: "";
}

.icon-Web:before {
  content: "";
}

.icon-WordFile:before {
  content: "";
}

.icon-Yelp:before {
  content: "";
}

.icon-Yelp-KO:before {
  content: "";
}

.icon-Youtube:before {
  content: "";
}

.icon-Youtube-KO:before {
  content: "";
}

.icon-AppIcons:before {
  content: "";
}

.icon-Transform:before {
  content: "";
}

.icon-Text:before {
  content: "";
}

.icon-Spacer:before {
  content: "";
}

.icon-Seperator:before {
  content: "";
}

.icon-CTA:before {
  content: "";
}

.icon-Weibo-KO:before {
  content: "";
}

.icon-Weibo:before {
  content: "";
}

.icon-TripAdvisor-KO:before {
  content: "";
}

.icon-TripAdvisor:before {
  content: "";
}

.icon-Myspace-KO:before {
  content: "";
}

.icon-Myspace:before {
  content: "";
}

.icon-Houzz-KO:before {
  content: "";
}

.icon-Houzz:before {
  content: "";
}

.icon-GooglePlaces-KO:before {
  content: "";
}

.icon-GooglePlaces:before {
  content: "";
}

.icon-Frame:before {
  content: "";
}

.icon-Controls:before {
  content: "";
}

.icon-Bold:before {
  content: "";
}

.icon-Italic:before {
  content: "";
}

.icon-Underline:before {
  content: "";
}

.icon-NumberList:before {
  content: "";
}

.icon-BulletList:before {
  content: "";
}

.icon-Centered:before {
  content: "";
}

.icon-Justified:before {
  content: "";
}

.icon-LeftAlign:before {
  content: "";
}

.icon-RightAlign:before {
  content: "";
}

.icon-None:before {
  content: "";
}

.icon-CautionFilled:before {
  content: "";
}

.icon-Completed:before {
  content: "";
}

.icon-CopyPage:before {
  content: "";
}

.icon-Testimonial:before {
  content: "";
}

.icon-AlignLeft:before {
  content: "";
}

.icon-AlignCenter:before {
  content: "";
}

.icon-AlignRight:before {
  content: "";
}

.icon-UnmappedImage:before {
  content: "";
}

.icon-Notes:before {
  content: "";
}

.icon-Dashboard:before {
  content: "";
}

.icon-Square:before {
  content: "";
}

.icon-Rectangle:before {
  content: "";
}

.icon-Linkout:before {
  content: "";
}

.icon-Circle:before {
  content: "";
}

.icon-Mapping:before {
  content: "";
}

.icon-Sort:before {
  content: "";
}

.icon-Configurations:before {
  content: "";
}

.icon-VAlignTop:before {
  content: "";
}

.icon-VAlignCenter:before {
  content: "";
}

.icon-VAlignBottom:before {
  content: "";
}

.icon-Forms:before {
  content: "";
}

html {
  line-height: 1.15;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-osx-fontsmoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Lato", sans-serif;
  color: #2B2829;
}

h1 {
  font-family: inherit;
  color: inherit;
}

h2 {
  font-family: inherit;
  color: inherit;
}

h3 {
  font-family: inherit;
  color: inherit;
}

h4 {
  font-family: inherit;
  color: inherit;
}

h5 {
  font-family: inherit;
  color: inherit;
}

h6 {
  font-family: inherit;
  color: inherit;
}

p {
  font-family: inherit;
  color: inherit;
}

a {
  font-family: inherit;
  color: inherit;
}

blockquote {
  font-family: inherit;
  color: inherit;
}

button {
  font-family: inherit;
  color: inherit;
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: normal;
}

h2 {
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: normal;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: normal;
}

h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
}

h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: normal;
}

h6 {
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: normal;
}

p {
  font-size: 21px;
  font-weight: 200;
  line-height: 36px;
  letter-spacing: normal;
}

label, .label {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: normal;
}

figcaption, .caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.3px;
}

.text-small {
  font-size: 16px;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: normal;
}

.text-sub {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 1.63px;
  color: #A7A8A8;
  text-transform: uppercase;
}

.text-meta {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.text-modal {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.4px;
}

button, .text-btn, .btn {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1.6px;
}

.fw-hairline {
  font-weight: 100;
}

.fw-light {
  font-weight: 200;
}

.fw-medium {
  font-weight: 300;
}

.fw-bold {
  font-weight: 400;
}

.fw-heavy {
  font-weight: 500;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-11 {
  width: 91.66666667%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-8 {
  width: 66.66666667%;
}

.col-xs-7 {
  width: 58.33333333%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-5 {
  width: 41.66666667%;
}

.col-xs-4 {
  width: 33.33333333%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-2 {
  width: 16.66666667%;
}

.col-xs-1 {
  width: 8.33333333%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-pull-11 {
  right: 91.66666667%;
}

.col-xs-pull-10 {
  right: 83.33333333%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-8 {
  right: 66.66666667%;
}

.col-xs-pull-7 {
  right: 58.33333333%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-5 {
  right: 41.66666667%;
}

.col-xs-pull-4 {
  right: 33.33333333%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-2 {
  right: 16.66666667%;
}

.col-xs-pull-1 {
  right: 8.33333333%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-push-11 {
  left: 91.66666667%;
}

.col-xs-push-10 {
  left: 83.33333333%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-8 {
  left: 66.66666667%;
}

.col-xs-push-7 {
  left: 58.33333333%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-5 {
  left: 41.66666667%;
}

.col-xs-push-4 {
  left: 33.33333333%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-2 {
  left: 16.66666667%;
}

.col-xs-push-1 {
  left: 8.33333333%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs-offset-11 {
  margin-left: 91.66666667%;
}

.col-xs-offset-10 {
  margin-left: 83.33333333%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-8 {
  margin-left: 66.66666667%;
}

.col-xs-offset-7 {
  margin-left: 58.33333333%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-5 {
  margin-left: 41.66666667%;
}

.col-xs-offset-4 {
  margin-left: 33.33333333%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-2 {
  margin-left: 16.66666667%;
}

.col-xs-offset-1 {
  margin-left: 8.33333333%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both;
}

.m-5 {
  margin: 5px;
}

.mt-5 {
  margin-top: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.m-15 {
  margin: 15px;
}

.mt-15 {
  margin-top: 15px;
}

.m-20 {
  margin: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.m-25 {
  margin: 25px;
}

.mt-25 {
  margin-top: 25px;
}

.m-30 {
  margin: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.m-35 {
  margin: 35px;
}

.mt-35 {
  margin-top: 35px;
}

.m-40 {
  margin: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.m-45 {
  margin: 45px;
}

.mt-45 {
  margin-top: 45px;
}

.m-50 {
  margin: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.m-55 {
  margin: 55px;
}

.mt-55 {
  margin-top: 55px;
}

.m-60 {
  margin: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.m-65 {
  margin: 65px;
}

.mt-65 {
  margin-top: 65px;
}

.m-70 {
  margin: 70px;
}

.mt-70 {
  margin-top: 70px;
}

.m-75 {
  margin: 75px;
}

.mt-75 {
  margin-top: 75px;
}

.m-80 {
  margin: 80px;
}

.mt-80 {
  margin-top: 80px;
}

.m-85 {
  margin: 85px;
}

.mt-85 {
  margin-top: 85px;
}

.m-90 {
  margin: 90px;
}

.mt-90 {
  margin-top: 90px;
}

.m-95 {
  margin: 95px;
}

.mt-95 {
  margin-top: 95px;
}

.m-100 {
  margin: 100px;
}

.mt-100 {
  margin-top: 100px;
}

.m-105 {
  margin: 105px;
}

.mt-105 {
  margin-top: 105px;
}

.m-110 {
  margin: 110px;
}

.mt-110 {
  margin-top: 110px;
}

.m-115 {
  margin: 115px;
}

.mt-115 {
  margin-top: 115px;
}

.m-120 {
  margin: 120px;
}

.mt-120 {
  margin-top: 120px;
}

.m-125 {
  margin: 125px;
}

.mt-125 {
  margin-top: 125px;
}

.m-130 {
  margin: 130px;
}

.mt-130 {
  margin-top: 130px;
}

.m-135 {
  margin: 135px;
}

.mt-135 {
  margin-top: 135px;
}

.m-140 {
  margin: 140px;
}

.mt-140 {
  margin-top: 140px;
}

.m-145 {
  margin: 145px;
}

.mt-145 {
  margin-top: 145px;
}

.m-150 {
  margin: 150px;
}

.mt-150 {
  margin-top: 150px;
}

.p-5 {
  margin: 5px;
}

.pt-5 {
  margin-top: 5px;
}

.p-10 {
  margin: 10px;
}

.pt-10 {
  margin-top: 10px;
}

.p-15 {
  margin: 15px;
}

.pt-15 {
  margin-top: 15px;
}

.p-20 {
  margin: 20px;
}

.pt-20 {
  margin-top: 20px;
}

.p-25 {
  margin: 25px;
}

.pt-25 {
  margin-top: 25px;
}

.p-30 {
  margin: 30px;
}

.pt-30 {
  margin-top: 30px;
}

.p-35 {
  margin: 35px;
}

.pt-35 {
  margin-top: 35px;
}

.p-40 {
  margin: 40px;
}

.pt-40 {
  margin-top: 40px;
}

.p-45 {
  margin: 45px;
}

.pt-45 {
  margin-top: 45px;
}

.p-50 {
  margin: 50px;
}

.pt-50 {
  margin-top: 50px;
}

.p-55 {
  margin: 55px;
}

.pt-55 {
  margin-top: 55px;
}

.p-60 {
  margin: 60px;
}

.pt-60 {
  margin-top: 60px;
}

.p-65 {
  margin: 65px;
}

.pt-65 {
  margin-top: 65px;
}

.p-70 {
  margin: 70px;
}

.pt-70 {
  margin-top: 70px;
}

.p-75 {
  margin: 75px;
}

.pt-75 {
  margin-top: 75px;
}

.p-80 {
  margin: 80px;
}

.pt-80 {
  margin-top: 80px;
}

.p-85 {
  margin: 85px;
}

.pt-85 {
  margin-top: 85px;
}

.p-90 {
  margin: 90px;
}

.pt-90 {
  margin-top: 90px;
}

.p-95 {
  margin: 95px;
}

.pt-95 {
  margin-top: 95px;
}

.p-100 {
  margin: 100px;
}

.pt-100 {
  margin-top: 100px;
}

.p-105 {
  margin: 105px;
}

.pt-105 {
  margin-top: 105px;
}

.p-110 {
  margin: 110px;
}

.pt-110 {
  margin-top: 110px;
}

.p-115 {
  margin: 115px;
}

.pt-115 {
  margin-top: 115px;
}

.p-120 {
  margin: 120px;
}

.pt-120 {
  margin-top: 120px;
}

.p-125 {
  margin: 125px;
}

.pt-125 {
  margin-top: 125px;
}

.p-130 {
  margin: 130px;
}

.pt-130 {
  margin-top: 130px;
}

.p-135 {
  margin: 135px;
}

.pt-135 {
  margin-top: 135px;
}

.p-140 {
  margin: 140px;
}

.pt-140 {
  margin-top: 140px;
}

.p-145 {
  margin: 145px;
}

.pt-145 {
  margin-top: 145px;
}

.p-150 {
  margin: 150px;
}

.pt-150 {
  margin-top: 150px;
}

.card {
  min-height: 420px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  padding: 30px;
  transition: 0.25s;
}

.card:hover {
  box-shadow: 0 35px 50px 0 rgba(0, 0, 0, 0.2);
}

.card__body {
  margin-top: 20px;
}

.card__footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  min-height: 50px;
}

.card__footer .btn {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.card__footer .btn:hover {
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.card__footer .card__text {
  padding: 25px 30px 50px;
}

.card .footer-btn .btn {
  border-radius: 0 0 10px 10px;
}

.card__img {
  margin-bottom: 30px;
}

.card__img.round {
  height: 138px;
  width: 138px;
  border-radius: 50%;
  border: 4px solid rgba(192, 0, 255, 0.2);
}

.card__title {
  color: #0F1110;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 10px;
}

.card__subtitle {
  width: 237px;
  color: #959DA7;
  font-size: 12px;
  line-height: 20px;
  margin: 10px;
}

.card__text {
  color: #4A4A4A;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 10px;
  font-weight: 300;
}

.card__icons {
  display: flex;
  justify-content: center;
}

.card--profile {
  padding: 50px;
}

.card .social-icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 10px;
  transition: 0.25s;
  border-radius: 2px;
}

.card .social-icon:hover {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.popup {
  border-radius: 10px;
  box-shadow: 0 35px 50px 0 rgba(0, 0, 0, 0.2);
}

.popup__header, .popup__body {
  padding: 25px 30px;
}

.modal__content-wrap {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
}

.modal__header {
  padding: 45px 50px 30px;
}

.modal__content {
  padding: 0 50px 30px;
}

.modal__content p {
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 0.4px;
}

.modal__content p:not(:first-child) {
  margin-top: 30px;
}

.modal__footer {
  padding: 0 50px 45px;
  text-align: right;
}

.radio {
  position: relative;
  display: inline-block;
}

.radio input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  margin: 0;
  z-index: 1;
}

.radio input:checked ~ span:after {
  transform: scale(1);
}

.radio span,
.radio label {
  display: inline-block;
  vertical-align: middle;
}

.radio span {
  position: relative;
  height: 16px;
  width: 16px;
  line-height: 16px;
  pointer-events: none;
  transition: 0.25s;
}

.radio span:before, .radio span:after {
  content: '';
  border-radius: 50%;
  transition: inherit;
}

.radio span:before {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #FFF;
  text-align: center;
  border: 1px solid #DDD;
}

.radio span:after {
  display: block;
  position: relative;
  margin: 2px;
  height: 12px;
  width: 12px;
  background-color: #C253DD;
  transform: scale(0);
}

.radio span + label,
.radio label + span {
  margin-left: 10px;
}

.radio:hover span {
  transform: scale(1.25);
}

.radio:hover span:before {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 20px;
}

.switch label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.switch input {
  display: none;
}

.switch input:checked + .lever {
  transition: 0.25s;
}

.switch input:checked + .lever:before {
  left: 75%;
}

.switch input:not(:disabled) + .lever:active:before {
  transform: scale(1.25);
}

.switch .lever {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.25s;
  background: #c253dd;
  background: linear-gradient(to top right, #c253dd, #3023ae);
}

.switch .lever:before {
  content: '';
  display: block;
  position: relative;
  transition: inherit;
  height: 8px;
  width: 8px;
  background: #FFF;
  border-radius: 50%;
  top: 6px;
  left: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}

.switch__text {
  display: none;
}

.switch--success .lever {
  background: #F94D46;
}

.switch--success input:checked + .lever {
  background: #64C38E;
}

.switch--text .lever {
  background: #DDD;
}

.switch--text input:checked + .lever {
  background: #c253dd;
  background: linear-gradient(to top right, #c253dd, #3023ae);
}

.switch--text input:checked + .lever .switch__text:before {
  opacity: 0;
}

.switch--text input:checked + .lever .switch__text:after {
  opacity: 1;
}

.switch--text .switch__text {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.switch--text .switch__text:before, .switch--text .switch__text:after {
  position: absolute;
  top: 50%;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  line-height: 1;
  color: #FFF;
  text-transform: uppercase;
  transform: translateY(-50%);
  transition: 0.25s;
}

.switch--text .switch__text:before {
  content: 'OFF';
  right: 6px;
}

.switch--text .switch__text:after {
  content: 'ON';
  left: 6px;
  opacity: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.v-align-top {
  align-items: flex-start;
}

.v-align-center {
  align-items: center;
}

.v-align-bottom {
  align-items: flex-end;
}

.mopro-icons {
  padding: 10px 20px;
  border-radius: 10px;
  background: #F1F2F6;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mopro-icons .icon__wrap {
  color: #2B2829;
  flex-basis: 20%;
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.25s;
}

.mopro-icons .icon__wrap:hover {
  background: #d2d5e2;
}

.mopro-icons [class^="icon-"] {
  font-size: 36px;
}

.mopro-icons .icon__text {
  font-size: 14px;
  margin-left: 10px;
}

.main {
  display: flex;
  background: #FFF;
}

.main__content {
  flex: 1;
  padding-left: 100px;
}

.navbar {
  background: #3929ce;
  background: linear-gradient(to bottom right, #3929ce, #271d8e);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.navbar__nav {
  display: flex;
  list-style: none;
  justify-content: flex-end;
}

.navbar__item {
  text-align: left;
}

.navbar__link {
  text-transform: uppercase;
  text-decoration: none;
  color: #FFF;
  display: block;
  padding: 20px;
  border-bottom: 2px solid transparent;
  transition: 0.25s;
}

.navbar__link:hover, .navbar__link:focus, .navbar__link.active {
  border-color: #FFF;
}

.sidebar {
  position: fixed;
  width: 15%;
  width: 250px;
  padding: 10px;
  background: #F1F2F6;
  height: calc(100vh - 60px);
}

.sidebar__items {
  margin-left: 10px;
  list-style: none;
}

.sidebar__item {
  margin: 5px 0;
}

.sidebar__link {
  text-decoration: none;
  color: #A7A8A8;
  font-size: 12px;
  font-weight: 300;
  display: block;
  padding: 10px;
  border-radius: 3px;
}

.sidebar__link:hover, .sidebar__link .active {
  background: #DDD;
  color: #2B2829;
}

.swatch__color {
  height: 190px;
  border-radius: 10px 10px 0 0;
}

.swatch__body {
  padding: 25px 30px;
  background: #FFF;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 35px 50px 0 rgba(0, 0, 0, 0.2);
}

.popup {
  min-height: 360px;
}

.code-preview {
  margin-top: 25px;
}

pre {
  border-radius: 10px;
}

.app {
  margin-top: 60px;
}

.page {
  margin-top: 100px;
  margin-bottom: 100px;
  padding-left: 120px;
}

.has-superscript {
  position: relative;
}

.superscript {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-20px, -20px);
  font-size: 18px;
  font-weight: 400;
}

.accordion {
  margin: 30px 0;
}

.accordion__title {
  position: relative;
}

.accordion__title h4 {
  font-size: 18px;
  line-height: 22px;
  padding: 15px 0;
}

.accordion__close {
  position: absolute;
  top: 15px;
  right: 0;
  width: 20px;
  height: 20PX;
  border-radius: 50%;
  border: 1px solid #afafaf;
  text-align: center;
  line-height: 18px;
  font-size: 10px;
  letter-spacing: 0;
  background: none;
  padding: 0;
  color: #afafaf;
  outline: none;
  cursor: pointer;
}

.accordion__description p {
  font-size: 14px;
  line-height: 22px;
  color: #4A4A4A;
}

table {
  background-color: transparent;
}

caption {
  padding-top: 8px;
  padding-bottom: 8px;
  color: #777777;
  text-align: left;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > thead > tr > td,
.table > tbody > tr > th,
.table > tbody > tr > td,
.table > tfoot > tr > th,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > caption + thead > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > th,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}

.table > tbody + tbody {
  border-top: 2px solid #ddd;
}

.table .table {
  background-color: #fff;
}

.table-condensed > thead > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > th,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > th,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}

.table-bordered {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > tfoot > tr > td {
  border: 1px solid #ddd;
}

.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover > tbody > tr:hover {
  background-color: #f5f5f5;
}

table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}

table td[class*="col-"],
table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}

.table-responsive {
  overflow-x: auto;
  min-height: 0.01%;
}

@media screen and (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}

.card.tabs {
  min-height: 300px;
}

.react-tabs__nav-in .react-tabs__tab-list {
  list-style: none;
  display: flex;
}

.react-tabs__nav-in .react-tabs__tab {
  color: #B7BCC3;
  margin: 15px;
  padding-bottom: 5px;
  cursor: pointer;
  outline: none;
  border-bottom: 2px solid transparent;
}

.react-tabs__nav-in .react-tabs__tab:first-child {
  margin-left: 0;
}

.react-tabs__nav-in .react-tabs__tab--selected {
  color: #C253DD;
  border-color: #C253DD;
}

.react-tabs__nav-in .react-tabs__tab-panel {
  margin-top: 30px;
}

.react-tabs__nav-out .react-tabs__tab-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.react-tabs__nav-out .react-tabs__tab {
  color: #B7BCC3;
  margin: 15px 30px;
  padding-bottom: 5px;
  cursor: pointer;
  outline: none;
}

.react-tabs__nav-out .react-tabs__tab:first-child {
  margin-left: 0;
}

.react-tabs__nav-out .react-tabs__tab--selected {
  position: relative;
  color: #C253DD;
  border-color: #C253DD;
}

.react-tabs__nav-out .react-tabs__tab--selected:before, .react-tabs__nav-out .react-tabs__tab--selected:after {
  position: absolute;
  font-family: 'Mopro-Icons';
  color: #B7BCC3;
  font-size: 24px;
  top: -4px;
}

.react-tabs__nav-out .react-tabs__tab--selected:before {
  content: "\E907";
  left: -30px;
}

.react-tabs__nav-out .react-tabs__tab--selected:after {
  content: "\E908";
  right: -30px;
}

.react-tabs__nav-out .react-tabs__tab-panel {
  margin-top: 0;
}
